<div id="user_input">
  <div class="welcome">
	Did you recently have a 24-hour vomit fest? From both ends? Fever? Dehydration? Congratulations, sounds like you had a <a href="http://www.medicinenet.com/norovirus_infection/article.htm" target="_blank">NOROVIRUS</a>! Add your name to the proud, recovered and temporarily-humbled victims list.
  </div>
<nav>
<%= form_for(:user, :url => {:action => 'create'}) do |f| %>
  <ul>	
    <li><%= f.label(:name, "Name ( First, Last Initial )") %> </li>
    <li><%= f.text_field(:name, :class => "user_name") %> </li>
	<li><%= f.label(:location, "Location ( City, State )") %> </li>
	<li><%= f.text_field(:location, :class => "user_location") %> </li>
	<li><label for="user_story">Share your story</br>( it's okay to leave stuff out )</label> </li>
    <li><%= f.text_area(:story, :class => "user_story") %> </li>
    <li><%= submit_tag("submit")%></li>
  </ul>
<% end %>
</nav>
</div>