<div id="user_input">
  <div class="welcome">
	Did you recently have a 24-hour vomit fest? From both ends? Fever? Dehydration? Congratulations, sounds like you had a <a href="http://www.medicinenet.com/norovirus_infection/article.htm" target="_blank">NOROVIRUS</a>! Add your name to the proud, recovered and temporarily-humbled victims list.
  </div>
<nav>
<%= form_for(:user, :url => {:action => 'create'}) do |f| %>
  <ul>
    <li><%= f.text_field(:name, :class => "user_name", :value => "Name ( First, Last Initial )") %> </li>
	<li><%= f.text_field(:location, :class => "user_location", :value => "Location ( City, State )") %> </li>
    <li><%= f.text_area(:story, :class => "user_story", :value => "Share your story\n( it's okay to leave stuff out )") %> </li>
    <li><%= submit_tag("submit")%> 
	
		<div class="share">	<a href="https://twitter.com/share" class="twitter-share-button" data-text='Join the "I just barfed for 24 hrs" victims list.' data-count="none" data-url="http://norovirusoneyouzero.com">Tweet</a>
		<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
		</div>
		
	 	<div class="share"><a name="fb_share" type="button" share_url="http://norovirusoneyouzero.com"></a>
		<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
		</div>
	</li>
  </ul>
<% end %>
</nav>
</div>